.overlay {
  // display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  overflow: hidden;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 22px;

    .closeBtn {
      border: none;
      cursor: pointer;
    }
  }
  .drawerItemsBox{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .drawerEmpty {
    margin: 100px auto 0;
    text-align: center;

    .drawerEmptyImg {
      display: inline-block;
      margin-bottom: 40px;
    }

    .drawerEmptyTitle {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .drawerItems {
    overflow: auto;

    .drawerItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #f9e6e6;
      border-radius: 20px;
      max-width: 300px;

      .drawerImg {
        width: 70px;
        height: 50px;
        margin-right: 10px;
      }

      p {
        margin-right: 10px;
        margin-bottom: 7px;
      }

      span {
        font-weight: 700;
        text-transform: uppercase;
      }


    }
  }

  .drawerTotal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 50px;



    .drawerTotalItem {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px;

      .drawerPrice {
        font-weight: 700;

        span {
          display: inline-block;
          margin-left: 7px;
        }
      }
    }


    p {
      font-size: 18px;
    }
  }

  


}